h1 {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 1em;
  color: hsl(187, 10%, 53%);
}

.inactive {
  background-color: #a2e2d2 !important;
}

.cards {
  margin-left: 1em;

  .card {
    background-color: #07be92;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 1em;

    .data {
      display: flex;
      flex-direction: column;

      p {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 6px;
      }

      .titular {
        margin-bottom: 0;
      }

      .price {
        text-align: end;
        margin: 0;
      }

      .active-card {
        margin-top: -10px;
        margin-bottom: 10px;
      }

      .logo {
        text-align: end;
        width: 100%;

        img {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}
