.card {
  background-color: #07be92;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 1em;

  .data {
    display: flex;
    flex-direction: column;

    p {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 6px;
    }

    .titular {
      margin-bottom: 0;
    }

    .price {
      text-align: end;
      margin: 0;
    }

    .active-card {
      margin-top: -10px;
      margin-bottom: 10px;
    }

    .logo {
      text-align: end;
      width: 100%;

      img {
        height: 25px;
        width: 25px;
      }
    }
  }
}
