<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header header-form">
        <h5 class="modal-title" id="exampleModalLabel">Bankapp</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
        <h6>Agregar Tarjeta</h6>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Número de tarjeta" id="first">
          </div>
          <div class="row m">
            <div class="col">
              <input type="text" class="form-control" placeholder="Cuenta">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Issuer">
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre de tarjeta" id="first">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Marca" id="first">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Estatus" id="first">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Saldo" id="first">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Tipo de cuenta" id="first">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="button-p cancel" data-dismiss="modal">Cancelar</button>
        <button class="button-p ok">Agregar tarjeta</button>
      </div>
    </div>
  </div>
</div>
